{{> adminPage/adminHeader}}

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  {{> adminPage/adminNavigation}}

  <div class="content-wrapper">

    {{> adminPage/messages}}

    {{{body}}}
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->


    {{> adminPage/adminFooter}}
  </div>
</body>

</html>