{{> defaultPage/header}}

  <body>

    <!-- Navigation -->
    {{> defaultPage/navigation}}

    <!-- Page Content -->
    <div class="container">
      {{> defaultPage/messages}}
      {{{ body }}}
    </div>
    <!-- /.container -->

    <!-- Footer -->
    {{> defaultPage/footer}}

 