<div class="row">

    <!-- Post Content Column -->
    <div class="col-lg-8">
        <h1 class="my-4">Welcome!
            {{!-- <small>Secondary Text</small> --}}
        </h1>

        <h4>
            This is CMS project created by Katarzyna Żywańska and Marcin Putra.
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </h4>


    </div>

</div>
<!-- /.row -->